    /*
     * Style tweaks
     * --------------------------------------------------
     */
html,
body {
    overflow-x: hidden; /* Prevent scroll on narrow devices */
}
body {
    padding-top: 0px;
    background: #ebeef7;
}
footer {
    padding: 30px 0;
}

/*
 * Off Canvas
 * --------------------------------------------------
 */

.row-offcanvas {
    position: relative;
    -webkit-transition: all .25s ease-out;
    -o-transition: all .25s ease-out;
    transition: all .25s ease-out;
}

.row-offcanvas-right {
    right: 0;
}

.row-offcanvas-left {
    left: 0;
}

.row-offcanvas-right
.sidebar-offcanvas {
    right: -60%; /* 6 columns */
}

.row-offcanvas-left
.sidebar-offcanvas {
    left: -60%; /* 6 columns */
}

.row-offcanvas-right.active {
    right: 50%; /* 6 columns */
}

.row-offcanvas-left.active {
    left: 50%; /* 6 columns */
}

.sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 50%; /* 6 columns */
    margin-left:-15px;
}


.sidebar-offcanvas .list-group-item {
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
    background: #000;
    color: #fff;
    border: 0px solid #000;
    font-weight: 400;
    z-index: auto;
}

a.sidebar-offcanvas.list-group-item:hover {
    background: #ccc;
    color: #fff;
}


.operations-page-wrapper{

    h1 {
        color: #f1c40f;
        font-size: 36px;
        text-align: center;
        margin-bottom: 13px;
    }


    .panel {
        font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
        text-align: center;
        border-radius: 0;
        margin-top: 35px;
    }

    .panel-danger {
        background-color: #df5f50;
        border-color: #df5f50;

        .panel-body {
            background-color: #df5f50;
            padding: 0;

            h1 {
                color: #fff;
                font-weight: 400;
                font-size: 24px;
                margin: 15px auto 0 auto;
            }
            h2 {
                color: #fff;
                font-weight: normal;
                font-size: 60px;
                margin: 25px auto 28px auto;
            }
        }

        .panel-footer {
            background-color: #c44333;
            border-top: 0 solid #c44333;
            border-bottom-right-radius: 0;
            border-bottom-left-radius: 0;
                    
            a {
                color: #fff;
                font-weight: normal;
                font-size: 14px;
            }
        }

    }




    .panel-success {
        background-color: #1daf6d;
        border-color: #1daf6d;

        .panel-body {
            background-color: #1daf6d;
            padding: 0;

            h1 {
                color: #fff;
                font-weight: 400;
                font-size: 24px;
                margin: 15px auto 0 auto;
            }
            h2 {
                color: #fff;
                font-weight: normal;
                font-size: 60px;
                margin: 25px auto 28px auto;
            }
        }

        .panel-footer {
            background-color: #029350;
            border-top: 0 solid #029350;
            border-bottom-right-radius: 0;
            border-bottom-left-radius: 0;
                    
            a {
                color: #fff;
                font-weight: normal;
                font-size: 14px;
            }
        }

    }



    .panel-warning {
        background-color: #f2a62e;
        border-color: #f2a62e;

        .panel-body {
            background-color: #f2a62e;
            padding: 0;

            h1 {
                color: #fff;
                font-weight: 400;
                font-size: 24px;
                margin: 15px auto 0 auto;
            }
            h2 {
                color: #fff;
                font-weight: normal;
                font-size: 60px;
                margin: 25px auto 28px auto;
            }
        }

        .panel-footer {
            background-color: #d88a11;
            border-top: 0 solid #d88a11;
            border-bottom-right-radius: 0;
            border-bottom-left-radius: 0;
                    
            a {
                color: #fff;
                font-weight: normal;
                font-size: 14px;
            }
        }

    }


    .bg-red {
        background: #e74c3c;
    }

    .bg-red-dark {
        background: #c0392b;
    }

    .bg-green {
        background: #1daf6d;
    }

    .bg-green-dark {
        background: #029350;   
    }

    .bg-teal {
        background: #16a085;   
    }

    .bg-blue {
        background: #2980b9;
    }


    .batch-status {

        .list-group-item {
            color: #fff;
            font-size: 24px;
            font-weight: 300;
            margin-bottom: 15px;

            .badge {
              display: inline-block;
              min-width: 10px;
              padding: 0;
              font-size: 36px;
              font-weight: 700;
              color: #fff;
              text-align: center;
              white-space: nowrap;
              vertical-align: middle;
              background-color: transparent;
            }
        }
    }


    .graph-placeholder {
        height: 400px;
        width: 100%;
        background: #d1d1d4;
    }
}